#userList {
  border: 2px solid black;
  background-color: red;

}

#messageBar {
  background-color: blue;
}

#chatWindow {
  background-color: yellow;
}

/* #UserChatBlock {
  height: 100vh;
  width: 100vw;
} */